html,
body {
  font-family: 'Montserrat', sans-serif;
}

#timer-bar {
  position: absolute;
  bottom: 0;
  right: 0;
}

#timer-title {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px 10px 0 0;
}
#timer-title > h2 {
  font-size: 20px;
  font-weight: bold;
}

.progress-bar {
  height: 12px;
  width: 300px;
  border-radius: 50px;
  border: 1px solid #333;
  background: rgb(118, 1, 1);
}

.filler {
  background: darkgray;
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}
