:root {
  --menu-starting-top: 1000px;
  --menu-ending-top: 0px;
  --menu-width: 100%;
  --timeout: 350ms;
}

html,
body,
#app,
#game {
  width: 100%;
  height: 100%;
  /* background-color: black; */
}

body,
html {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: black; */
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
/*
  THREE JS BACK
*/
#homeback {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
/*
  NORMAL HOME
*/

.center-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title-box {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h3,
h5 {
  margin: 0;
  text-shadow: 1px 1px #000, 1px -1px #000, -1px 1px #000, -1px -1px #000;
}

h1,
h3,
h5,
.no-select {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.title-box > h5 {
  cursor: pointer;
}
/*
* NAME FORM STUFF
*/
.content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content > small {
  position: absolute;
  bottom: 0;
  font-size: xx-small;
}

.wahoo {
  position: absolute;
  height: auto;
  /* background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/16/Acanthocybium_solandri.png'); */
  background-repeat: no-repeat;
}

#start-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#start-form > input {
  border: 3px solid black;
  border-radius: 5px;
  background-color: rgba(230, 230, 255, 0.6);
  font-size: 2em;
  font-weight: bold;
  text-align: center;

  margin-top: 20%;

  transition-property: border;
  transition-duration: 0.75s;
}

#start-form > input:focus {
  border-color: black;
  outline: none;
}
#start-form > button {
  width: 80%;
}

#play {
  margin-top: 10px;
}

/*
  LEADERBOARD BELOW
*/

.l-load {
  position: relative;
  top: -50%;
}

/*
  LOBBY BELOW
*/

h1,
h3,
h5 {
  color: white;
}

.blackblur {
  background-color: rgba(0, 0, 0, 0.5);
  /* color: white; */
}

.lobby-players {
  opacity: 0.8;
  margin-top: 1em;
  padding: 0;
  width: 30%;
  list-style-type: none;
}

.lobby-players li {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid;
}

.player-name {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
  text-align: center;
}

/*
  LOBBY SHARE BUTTONS
*/
.top-left-btns {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
}

.top-left-btns button {
  width: 100%;
  margin-bottom: 5px;
}

.network-icon {
  width: 32px;
  height: 32px;
}

#copy-value {
  position: absolute;
  top: -100%;
}

/*
  TRANSITION FOR NETWORKS
*/
.network:first-child {
  margin-top: 10px;
}

.network {
  margin-bottom: 5px;
  cursor: pointer;
}

.networks {
  position: relative;
  top: 0;
  width: var(--menu-width);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.networks-enter {
  top: var(--menu-starting-top);
  width: var(--toggler-width);
}

.networks-enter-active {
  top: var(--menu-ending-top);
  width: var(--menu-width);
  max-height: var(--menu-max-height);
  transition: all var(--timeout);
}

.networks-exit {
  top: var(--menu-ending-top);
  width: var(--menu-width);
  max-height: var(--menu-max-height);
}

.networks-exit-active {
  top: var(--menu-starting-top);
  width: var(--toggler-width);
  transition: all var(--timeout);
}

/*
  CHAT BELOW
 */
#chat {
  background-color: aqua;
  position: absolute;
  top: 0;
}

#map {
  position: absolute;
  z-index: -1;
  /* width: 100%; */
  height: 100%;
}
#PIXIapp {
  /* width: 80%;
  height: 100%; */
}
#controlPanel {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  padding: 3px;
  border: 2px solid black;
  background-color: gray;
  font-size: 12px;
}
