:root {
  --menu-starting-top: 1000px;
  --menu-ending-top: 0px;
  --menu-width: 100%;
  --timeout: 350ms;

  --chat-starting-bottom: -30em;
  --chat-ending-bottom: 0;
  --chat-height: 30em;
}

html,
body,
#app,
#game {
  width: 100%;
  height: 100%;
  /* background-color: black; */
}

body,
html {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: black; */
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
/*
  THREE JS BACK
*/
#homeback {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
/*
  NORMAL HOME
*/

.bottom-right-icons {
  color: black;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1em;
}

.bottom-right-icons a {
  font-size: 3em;
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin: 10px;
}

.bottom-right-icons a:hover {
  color: #222;
}

.fas {
  padding: 0 1px 0 1px;
  cursor: pointer;
}

.fa-copy {
  padding: 0 7px 0 7px;
  /* font-weight: 100; */
  transition: all;
  transition-duration: 100ms;
}

.fa-minus-circle {
  padding: 0 4px 0 4px;
}

.fab.fa-github {
  cursor: pointer;
  padding: 0 4.75px 0 4.75px;
}

.center-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.center-content.start {
  justify-content: flex-start;
}

.title-box {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h3,
h5 {
  margin: 0;
  text-shadow: 1px 1px #000, 1px -1px #000, -1px 1px #000, -1px -1px #000;
}

h1,
h3,
h5,
.no-select {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.title-box > h5 {
  cursor: pointer;
}
/*
* NAME FORM STUFF
*/
.content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content > small {
  position: absolute;
  bottom: 0;
  font-size: xx-small;
}

.wahoo {
  position: absolute;
  height: auto;
  /* background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/16/Acanthocybium_solandri.png'); */
  background-repeat: no-repeat;
}

#start-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#start-form > input {
  border: 3px solid black;
  border-radius: 5px;
  background-color: rgba(230, 230, 255, 0.6);
  font-size: 2em;
  font-weight: bold;
  text-align: center;

  margin-top: 20%;

  transition-property: border;
  transition-duration: 0.75s;
}

#start-form > input:focus {
  border-color: black;
  outline: none;
}
#start-form > button {
  width: 80%;
}

#play {
  margin-top: 10px;
}

/*
  LEADERBOARD BELOW
*/

.lb-players {
  opacity: 0.8;
  margin-top: 1em;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.lb-players tr {
  margin: 5px;
  padding: 5px;
  border: 2px solid;
}

.ranking {
  font-weight: bold;
  font-size: 2em;
  margin: 0;
  text-align: center;
}

.lb-players {
  border-collapse: separate;
  border-spacing: 0px 5px;
}
.ranking td {
  border: solid 4px #000;
  border-right-width: 0;
  border-left-width: 0;
}
.ranking td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-left-width: 4px;
}
.ranking td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right-width: 4px;
}

.l-load {
  position: relative;
  top: -50%;
}

.lb-filler {
  height: 2em;
}

/*
  LOBBY BELOW
*/

h1,
h3,
h5 {
  color: white;
}

.blackblur {
  background-color: rgba(0, 0, 0, 0.5);
  /* color: white; */
}

.lobby-players {
  opacity: 0.8;
  margin-top: 1em;
  padding: 0;
  width: 30%;
  list-style-type: none;
}

.lobby-players li {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid;
}

.player-name {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
  text-align: center;
}

/*
  LOBBY SHARE BUTTONS
*/
.top-left-btns {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
}

.top-left-btns button {
  width: 100%;
  margin-bottom: 5px;
}

.network-icon {
  width: 32px;
  height: 32px;
}

#copy-value {
  position: absolute;
  top: 9999em;
}

/*
  TRANSITION FOR NETWORKS
*/
.network:first-child {
  margin-top: 10px;
}

.network {
  margin-bottom: 5px;
  cursor: pointer;
}

.networks {
  position: relative;
  top: 0;
  width: var(--menu-width);
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.networks-enter {
  top: var(--menu-starting-top);
}

.networks-enter-active {
  top: var(--menu-ending-top);
  width: var(--menu-width);
  max-height: var(--menu-max-height);
  transition: all var(--timeout);
}

.networks-exit {
  top: var(--menu-ending-top);
  width: var(--menu-width);
  max-height: var(--menu-max-height);
}

.networks-exit-active {
  top: var(--menu-starting-top);
  transition: all var(--timeout);
}

/*
  CHAT BELOW
 */

.chat {
  position: absolute;
  bottom: var(--chat-starting-bottom);
  left: 0.5em;
  display: flex;
  flex-direction: column;
  width: 20em;
}

#chat-tab {
  position: relative;
  width: 100%;
  display: flex;
  cursor: pointer;
}

#chat-icon {
  position: relative;
  top: 0.5em;
  z-index: 4;
}

#chat-tab a {
  padding: 0 0 1px 10px;
  border-radius: 10px 0px 0 0;
  font-size: 3em;
  background-color: rgba(255, 255, 255, 0.5);
}

#chat-bar {
  border-top-right-radius: 10px;
  position: relative;
  z-index: 0;
  top: 1em;
  width: 100%;
  height: 3.5em;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#chat-bar > p {
  margin: 0;
}

#chat-content {
  z-index: 69;
  height: var(--chat-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom-width: 0;
}

#chat-messages {
  height: 90%;
  width: 100%;
  padding: 5px;
  font: 1em sans-serif;
  overflow-y: auto;
}

.indv-message {
  color: #fff;
  display: flex;
  justify-content: space-between;
  word-break: break-all;
}

.indv-message > div {
  width: 100%;
}

.message-text {
  margin-left: 0.5rem;
}

.message-from {
  width: 100%;
  display: flex;
  align-items: center;
}

.message-from-name {
  margin-right: 0.5em;
  border-radius: 5px;
  padding: 1px;
  min-width: 3em;
  text-align: center;
}

#chatbar {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px;
}

#chatbar > input {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #444;
}

#chatbar > input:focus {
  border: 2px solid #444;
  outline: none;
}

.chatter-enter {
  bottom: var(--chat-starting-bottom);
}

.chatter-enter-active {
  bottom: var(--chat-ending-bottom);
  transition: all var(--timeout);
}

.chatter-enter-done {
  bottom: var(--chat-ending-bottom);
}

.chatter-exit {
  bottom: var(--chat-ending-bottom);
}

.chatter-exit-active {
  bottom: var(--chat-starting-bottom);
  transition: all var(--timeout);
}

.chatter-exit-done {
  bottom: var(--chat-starting-bottom);
}

/*
  GAME STUFF
*/

#map {
  display: none;
}

#controlPanel {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  padding: 3px;
  border: 2px solid black;
  background-color: gray;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}
.section-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.header-section {
  color: black;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
}

#game-component {
  background-color: black;
}

#current-game-stats {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  /* display: flex;
  flex-direction: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
  border-radius: 1em;
  border: 2px solid #000;
  min-width: 3em;
  width: 250px; */
}

#each-player-info {
  display: flex;
  flex-direction: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  border-radius: 1em;
  border: 2px solid #000;
  background-color: gray;
  min-width: 3em;
  width: 250px;
}

#player-info-name {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#player-info-dubloons {
  font-size: 0.8rem;
  margin-right: 0.5em;
  padding: 0 5px 0 5px;
}

#currentAction {
  position: absolute;
  top: 0;
  left: 40%;
  width: 300px;
  padding: 3px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgba(190, 190, 190, 0.7);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#currentAction > p {
  margin: 0.5rem;
}
