:root {
  --menu-starting-top: 1000px;
  --menu-ending-top: 0px;
  --menu-width: 100%;
  --timeout: 350ms;
}

html,
body,
#app,
#game {
  width: 100%;
  height: 100%;
}

body,
html {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/*
* NAME FORM STUFF
*/
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content > small {
  position: absolute;
  bottom: 0;
  font-size: xx-small;
}

#start-form {
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#start-form > input {
  border: 3px solid black;
  border-radius: 5px;
  background-color: rgba(230, 230, 255, 0.6);
  font-size: 2em;
  font-weight: bold;
  text-align: center;

  margin-top: 20%;

  transition-property: border;
  transition-duration: 0.75s;
}

#start-form > input:focus {
  border-color: black;
  outline: none;
}
#play {
  margin-top: 10px;
}
/*
  LOBBY BELOW
*/

h1 {
  color: white;
}

.blackblur {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

/*
  LOBBY SHARE BUTTONS
*/
.share {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
}

.share button {
  width: 100%;
  margin-bottom: 5px;
}

.network-icon {
  width: 32px;
  height: 32px;
}

#copy-value {
  position: absolute;
  top: -100%;
}

/*
  TRANSITION FOR NETWORKS
*/
.network {
  margin-bottom: 5px;
}

.networks {
  position: relative;
  top: 0;
  width: var(--menu-width);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.networks-enter {
  top: var(--menu-starting-top);
  width: var(--toggler-width);
}

.networks-enter-active {
  top: var(--menu-ending-top);
  width: var(--menu-width);
  max-height: var(--menu-max-height);
  transition: all var(--timeout);
}

.networks-exit {
  top: var(--menu-ending-top);
  width: var(--menu-width);
  max-height: var(--menu-max-height);
}

.networks-exit-active {
  top: var(--menu-starting-top);
  width: var(--toggler-width);
  transition: all var(--timeout);
}

/*
  CHAT BELOW
 */
#chat {
  background-color: aqua;
  position: absolute;
  top: 0;
}
